@charset "UTF-8";

/* 全体レイアウト */
body {
    font-family: "Helvetica", "Arial", sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* タイトル */
h2 {
    margin: 20px 10px;
    font-size: 24px;
    font-weight: bold;
}

/* セクション枠 */
.section {
    background: #fff;
    width: 60%;
    margin: 20px 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* セクションタイトル */
.section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    border-left: 4px solid #0078d7;
    padding-left: 8px;
}

/* 商品テーブル */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th {
    background: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* 合計金額 */
.total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* ボタンエリア */
.btn-area {
	display: flex;
	gap: 20px; /* ボタンの間隔 */
    margin: 20px 10px;
}

/* ボタン */
button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 注文確定ボタン */
button[type="submit"] {
    background: #e60023;
    color: #fff;
}

/* 戻るボタン */
.back-btn {
    background: #ccc;
    margin-left: 15px;
}

select {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.back{
	background: #ccc;
	    margin-left: 15px;
	
}